@import "../br";

.gz {
  &-about {
    background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
    background-size: 300%;
    background-position: -30% 140%;
    background-repeat: no-repeat;
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
    &__container,
    &__content {
      height: 100%;
    }
  }
}


@include media-breakpoint-up('lg', $grid-breakpoints) {

  .gz {
    &-about {
      background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
      background-size: 100%;
      background-position: 81vw 0;
      background-repeat: no-repeat;

    }
  }
}
