@import "../br";

.gz {
  &-faq {
    &__element {
      &-list {
        list-style: none;
      }
    }
    &__accordion {
      &:first-child {
        margin-top: 0 !important;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
      &.--open {
        .gz-faq__accordion {
          &-header {
            &:before {
              content: '+';
            }
          }
        }
      }
      &-header {
        font-size: 1.5rem;
        line-height: 1.1;
        &:before {
          content: '-';
          font-family: var(--gz-font-overpass);
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.5rem;
        }
      }
      &-body {
        display: none;
      }
      &-p {
        font-size: 1.1rem;
        line-height: 1.3;
        border-left: 2px solid var(--gz-secondary);
      }
    }
  }
}


@include media-breakpoint-up('lg', $grid-breakpoints) {
  .gz {
    &-faq {

      &__accordion {
        cursor: pointer;
        &-header {
          font-size: 1.7rem;
          &:before {
            font-size: 1.7rem;
          }
        }
        &-p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
