@import "../br";

.gz {
  &-food {
    background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
    background-size: 300%;
    background-position: -30% 130%;
    background-repeat: no-repeat;
    img {
      width: 100%;
    }
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
    .--food {
      &-title {
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }
  }
}


@include media-breakpoint-up('lg', $grid-breakpoints) {

  .gz {
    &-food {
      background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
      background-size: 100%;
      background-position: -89vw 0;
      background-repeat: no-repeat;

    }
  }
}

@include media-breakpoint-up('xxl', $grid-breakpoints) {
  .gz {
    &-food {
      .--food {
        &-title {
          font-size: 2.8rem;
        }
      }
    }
  }
}
