@import "../br";



.gz {
  &-hero {
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
    &__container,
    &__content {
      height: 100%;
    }
    &__content {
      padding-bottom: 9rem !important;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

    }
  }
}

@media (max-width: 319px) {
  .gz {
    &-hero {
      &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        padding: 0 !important;
        padding-top: 2rem !important;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__container,
      &__content {
        height: 100%;
      }
      &__content {
        padding-bottom: 9rem !important;
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        z-index: unset;
      }
    }
  }
}

@include media-breakpoint-up('lg', $grid-breakpoints) {
  .gz {
    &-hero {
      &__image {

      }
      &__content {
        padding-bottom: initial !important;
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        z-index: unset;
      }
    }
  }
}
