@import "../br";

.gz {
  &-sayAboutMe {
    &__reviews {
      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        li {
          margin: 0 2px;
          width: 13px;
          height: 13px;
          button {
            width: 12px;
            height: 12px;
            padding: 0;
          }
          &.slick-active {
            button:before {
              background-color: var(--gz-teal-dark) !important;
            }
          }
          button:before {
            opacity: 1 !important;
            border: 2px solid var(--gz-orange-light);
            width: .75rem;
            height: .75rem;
            color: transparent !important;
            border-radius: 50%;
          }
        }
      }
    }
    &__content {
      .--sayAboutMe {
        &-p {
          font-size: 1.6rem;
          line-height: 1;
        }
        &-name {
          font-size: .9rem;
          line-height: 1;
        }
      }
    }
  }
}

@include media-breakpoint-up('lg', $grid-breakpoints) {


}
