@import "../br";

.gz {
  &-service {
    &__element {
      &-image {
        width: 100%;
      }
      &-list {
        list-style: none;
        width: 100%;
      }
      &-label {
        font-size: .9rem;
        line-height: 1;
        z-index: 0;
        &:before {
          content: attr(data-index);
          font-family: var(--gz-font-open-sans-condensed);
          color: var(--gz-white);
          font-size: 4.4rem;
          display: inline-block;
          font-weight: bold;
          position: absolute;
          top: -2.4rem;
          left: -1rem;
          z-index: -1;
          line-height: 1;
        }
      }
    }
  }
}

@include media-breakpoint-up('lg', $grid-breakpoints) {
  .gz {
    &-service {
      &__element {

        &-label {
          font-size: 1.3rem;
          &:before {
            font-size: 5.8rem;
            top: -2.9rem;
            left: -1.5rem;
          }

        }
      }
    }
  }
}

@include media-breakpoint-up('xxl', $grid-breakpoints) {
  .gz {
    &-service {
      &__element {

        &-label {
          font-size: 1.4rem;
          &:before {
            font-size: 8.8rem;
            top: -4.4rem;
            left: -3.3rem;
          }
        }
      }
    }
  }
}
