.gz.--menu-open {
  overflow: hidden;
}
.gz.--menu-open .gz-header__nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  box-shadow: 1rem 0 2rem 1rem var(--gz-gray);
}
.gz.--menu-open .gz-header__toggle span:nth-child(1) {
  -webkit-transform: translateY(0.4rem) rotate(45deg);
      -ms-transform: translateY(0.4rem) rotate(45deg);
          transform: translateY(0.4rem) rotate(45deg);
}
.gz.--menu-open .gz-header__toggle span:nth-child(2) {
  opacity: 0;
}
.gz.--menu-open .gz-header__toggle span:nth-child(3) {
  -webkit-transform: translateY(-0.4rem) rotate(-45deg);
      -ms-transform: translateY(-0.4rem) rotate(-45deg);
          transform: translateY(-0.4rem) rotate(-45deg);
}
.gz-header {
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--gz-white);
  overflow: hidden;
  z-index: 100;
  border-bottom: 1px solid var(--gz-light);
}
.gz-header__toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  position: relative;
  z-index: 100;
}
.gz-header__toggle span {
  background-color: var(--gz-secondary);
  height: 0.15rem;
  width: 100%;
  max-width: 1.5rem;
  display: block;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.4s ease-out;
  transition: opacity 0.3s linear, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.3s linear;
  transition: transform 0.4s ease-out, opacity 0.3s linear, -webkit-transform 0.4s ease-out;
}
.gz-header__social {
  list-style: none;
}
.gz-header__social-item img {
  width: 100%;
  height: auto;
  max-width: 2.5rem;
}
.gz-header__nav {
  background-color: var(--gz-white);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  height: 100vh;
  overflow: scroll;
}
.gz-header__nav-image img {
  width: 100%;
  height: auto;
  max-width: 6.2rem;
}
.gz-header__nav-list {
  list-style: none;
}
.gz-header__nav-element {
  line-height: 1;
  border-top: 1px solid var(--gz-gray-light);
}
.gz-header__nav-element.--active, .gz-header__nav-element:hover {
  background-color: var(--gz-lighter);
}
.gz-header__nav-element span {
  position: relative;
}
.gz-header__nav-element span:after {
  width: 0;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  content: " ";
  position: absolute;
  top: 45%;
  left: 0;
  height: 2px;
  background-color: var(--gz-teal-dark);
}
.gz-header__nav-element:last-child {
  border-bottom: 1px solid var(--gz-gray-light);
}
.gz-header__nav-link {
  line-height: 1;
  font-family: var(--gz-font-open-sans-condensed);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--gz-teal-dark);
}
.gz-header__branding img {
  width: 100%;
  height: auto;
  max-width: 12rem;
}

@media (min-width: 980px) {
  .gz-header__branding img {
    max-width: 22.5rem;
  }
  .gz-header__social-item img {
    width: 80%;
    max-width: 3.9rem;
  }
  .gz-header__nav {
    position: relative;
    height: auto;
    top: unset;
    left: unset;
    right: unset;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .gz-header__nav-link {
    cursor: pointer;
  }
  .gz-header__nav-element.--active, .gz-header__nav-element:hover {
    background-color: transparent;
  }
  .gz-header__nav-element, .gz-header__nav-element:last-child {
    border: none;
  }
}