.gz-footer {
  background-color: var(--gz-white);
}
.gz-footer__separator {
  height: 2px;
  width: 90px;
  background-color: var(--gz-gray-light);
  margin: 0 auto;
}
.gz-footer__policy-item {
  display: inline;
  color: var(--gz-gray);
  text-decoration: none;
  width: auto;
  font-size: 0.7rem;
}
.gz-footer__follow-title {
  color: var(--gz-teal-dark);
  font-family: var(--gz-font-open-sans-condensed);
  font-size: 1.1rem;
  font-weight: bold;
}
.gz-footer__social {
  list-style: none;
}
.gz-footer__social-item--img {
  width: 1.9rem;
}
.gz-footer__info {
  list-style: none;
}
.gz-footer__info-item--img {
  height: 1rem;
}
.gz-footer__info-item--label {
  color: var(--gz-gray);
}
.gz-footer__info-item--link {
  text-decoration: none;
}

@media (min-width: 980px) {
  .gz-footer__info-item.order-lg-2 {
    height: 0;
  }
  .gz-footer__separator {
    height: 90px;
    width: 2px;
    padding: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    left: 50%;
  }
}
@media (min-width: 1280px) {
  .gz-footer__info-item--label {
    font-size: 1.1rem;
  }
  .gz-footer__social {
    list-style: none;
  }
  .gz-footer__social-item--img {
    width: 2.8rem;
  }
  .gz-footer__follow-title {
    font-size: 1.3rem;
  }
}