@import "../br";
.gz {
  &-footer {
    background-color: var(--gz-white);
    &__separator {
      height: 2px;
      width: 90px;
      background-color: var(--gz-gray-light);
      margin: 0 auto;
    }
    &__policy {
      &-item {
        display: inline;
        color: var(--gz-gray);
        text-decoration: none;
        width: auto;
        font-size: .7rem;
      }
    }
    &__follow {
      &-title {
        color: var(--gz-teal-dark);
        font-family: var(--gz-font-open-sans-condensed);
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
    &__social {
      list-style: none;
      &-item {
        &--img {
          width: 1.9rem;
        }
      }
    }
    &__info {
      list-style: none;
      &-item {
        &--img {
          height: 1rem;
        }
        &--label {
          color: var(--gz-gray);
        }
        &--link {
          text-decoration: none;
        }
      }
    }
  }
}
@include media-breakpoint-up('lg', $grid-breakpoints) {
  .gz {

    &-footer {
      &__info {
        &-item {
          &.order-lg-2 {
            height: 0;
          }
        }
      }
      &__separator {
        height: 90px;
        width: 2px;
        padding: 0;
        top: 50%;
        transform: translate(-50%,-60%);
        left: 50%;
      }
    }
  }
}

@include media-breakpoint-up('xl', $grid-breakpoints) {
  .gz {

    &-footer {
      &__info {
        &-item {
          &--label {
            font-size: 1.1rem;
          }
        }
      }
      &__social {
        list-style: none;
        &-item {
          &--img {
            width: 2.8rem;
          }
        }
      }
      &__follow {
        &-title {
          font-size: 1.3rem
        }
      }
    }
  }

}
