@import "lib/fonts";
@import "lib/functions";
@import "lib/vars";
@import "lib/mixins";

@import "lib/reboot";
@import "lib/root";

@import "lib/containers";
@import "lib/grid";

@import "lib/utilities";

// Utilities
@import "lib/utilities/api";


.gz {
  &--main {
    .__section {
      width: 100%;
    }
  }
  .--hover-link-image {
    transition: opacity .3s;
    &:hover {
      opacity: .7;
    }
  }
  .--h100 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  &-text {
    &__title,
    &__subtitle {
      font-family: var(--gz-font-overpass);
      font-weight: 800;
      line-height: 1;
    }
    &__section-title {
      font-family: var(--gz-font-open-sans-condensed);
      line-height: 1;
    }
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
    &__p {
      font-size: .9rem;
      line-height: 1.7;
    }
  }
  .--cta {
    padding: 0.7rem 1.7rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 1.5rem;
    cursor: pointer;
    &.-white {
      color: var(--gz-white);
      background-color: transparent;
      border: 2px solid var(--gz-white);

    }
    &.-teal {
      color: var(--gz-white);
      background-color: var(--gz-teal-dark);
      border: 2px solid var(--gz-teal-dark);
    }
  }
}

@include media-breakpoint-up('lg', $grid-breakpoints) {
  .gz {
    .--cta {
      &.-hover-transparent {
        transition: background-color .3s, color .3s;
        &:hover {
          background-color: transparent;
          color: var(--gz-teal-dark);
        }
      }
      &.-hover-teal {
        transition: background-color .3s, color .3s;
        &:hover {
          background-color: var(--gz-white);
          color: var(--gz-teal-dark);
        }
      }
      &.-hover-white {
        transition: background-color .3s, color .3s;
        &:hover {
          background-color: var(--gz-white);
          color: var(--gz-teal-dark);
        }
      }
    }
    &-text {
      &__title {
        font-size: 4vw;
      }
      &__p {
        line-height: 1.4;
      }
    }
  }
}

@include media-breakpoint-up('xl', $grid-breakpoints) {
  .gz {
    &-text {
      &__title {
        font-size: 3vw;
      }
    }
  }
}

@include media-breakpoint-up('xxl', $grid-breakpoints) {
  .gz {
    &-text {
      &__title {
        font-size: 5.3rem;
        line-height: .9;
        letter-spacing: -2px;
      }
      &__subtitle {
        font-size: 4.4rem;
        line-height: .9;
        letter-spacing: -2px;
      }
      &__p {
        font-size: 1.2rem;
      }
    }
    .--cta {
      padding: 1rem 2.7rem 0.8rem;
    }
  }
}
