@import "../br";

.gz {
    &.--menu-open {
        overflow: hidden;
        .gz-header {

        }
        .gz-header__nav {
            transform: translateX(0);
            box-shadow: 1rem 0 2rem 1rem var(--gz-gray);
        }
        .gz-header__toggle {
            span:nth-child(1) {
                transform: translateY(.4rem) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-.4rem) rotate(-45deg);
            }
        }
    }
    &-header {
        left: 0;
        right: 0;
        top: 0;
        background-color: var(--gz-white);
        overflow: hidden;
        z-index: 100;
        border-bottom: 1px solid var(--gz-light);
        &__toggle {
            appearance: none;
            background: none;
            border: none;
            position: relative;
            z-index: 100;

            span {
                background-color: var(--gz-secondary);
                height: 0.15rem;
                width: 100%;
                max-width: 1.5rem;
                display: block;
                transition: transform .4s ease-out, opacity .3s linear;

            }
        }
        &__social {
            list-style: none;
            &-item {
                img {
                    width: 100%;
                    height: auto;
                    max-width: 2.5rem;
                }
            }
        }

        &__nav {
            background-color: var(--gz-white);
            transition: transform .4s ease-out;
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100%);
            height: 100vh;
            overflow: scroll;

            &-image {
                img {
                    width: 100%;
                    height: auto;
                    max-width: 6.2rem;
                }
            }

            &-list{
                list-style: none;
            }
            &-element {
                line-height: 1;
                border: {
                    top: 1px solid var(--gz-gray-light);
                };
                &.--active,
                &:hover {
                    background-color: var(--gz-lighter);
                }
                span {
                    position: relative;
                    &:after {
                        width: 0;
                        transition: width .3s ease-out;
                        content: ' ';
                        position: absolute;
                        top: 45%;
                        left: 0;
                        height: 2px;
                        background-color: var(--gz-teal-dark);
                    }

                }
                &:last-child {
                    border-bottom: 1px solid var(--gz-gray-light);
                }
            }
            &-link {

                line-height: 1;
                font-family: var(--gz-font-open-sans-condensed);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.3rem;
                color: var(--gz-teal-dark);
            }
        }
        &__branding {
            img {
                width: 100%;
                height: auto;
                max-width: 12rem;
            }
        }
    }
}


@include media-breakpoint-up('lg', $grid-breakpoints) {
    .gz {
        &-header {
            &__branding {
                img {
                    max-width: 22.5rem;
                }
            }
            &__social {
                &-item {
                    img {
                        width: 80%;
                        max-width: 3.9rem;
                    }
                }
            }
            &__nav {
                position: relative;
                height: auto;
                top: unset;
                left: unset;
                right: unset;
                transform: none;
                &-link {
                    cursor: pointer;

                }
                &-element {
                    &.--active,
                    &:hover {
                        background-color: transparent;
                    }
                    &,
                    &:last-child {
                        border: none;
                    }


                }

            }

        }

    }
}
