.gz-about {
  background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
  background-size: 300%;
  background-position: -30% 140%;
  background-repeat: no-repeat;
}
.gz-about__image img {
  width: 100%;
  height: auto;
}
.gz-about__container, .gz-about__content {
  height: 100%;
}

@media (min-width: 980px) {
  .gz-about {
    background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
    background-size: 100%;
    background-position: 81vw 0;
    background-repeat: no-repeat;
  }
}