.gz-faq__element-list {
  list-style: none;
}
.gz-faq__accordion:first-child {
  margin-top: 0 !important;
}
.gz-faq__accordion:last-child {
  margin-bottom: 0 !important;
}
.gz-faq__accordion.--open .gz-faq__accordion-header:before {
  content: "+";
}
.gz-faq__accordion-header {
  font-size: 1.5rem;
  line-height: 1.1;
}
.gz-faq__accordion-header:before {
  content: "-";
  font-family: var(--gz-font-overpass);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
}
.gz-faq__accordion-body {
  display: none;
}
.gz-faq__accordion-p {
  font-size: 1.1rem;
  line-height: 1.3;
  border-left: 2px solid var(--gz-secondary);
}

@media (min-width: 980px) {
  .gz-faq__accordion {
    cursor: pointer;
  }
  .gz-faq__accordion-header {
    font-size: 1.7rem;
  }
  .gz-faq__accordion-header:before {
    font-size: 1.7rem;
  }
  .gz-faq__accordion-p {
    font-size: 1.2rem;
  }
}