.gz-food {
  background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
  background-size: 300%;
  background-position: -30% 130%;
  background-repeat: no-repeat;
}
.gz-food img {
  width: 100%;
}
.gz-food__image img {
  width: 100%;
  height: auto;
}
.gz-food .--food-title {
  font-size: 1.6rem;
  line-height: 1.2;
}

@media (min-width: 980px) {
  .gz-food {
    background-image: url("/wp-content/uploads/2022/04/gz-bg.svg");
    background-size: 100%;
    background-position: -89vw 0;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1690px) {
  .gz-food .--food-title {
    font-size: 2.8rem;
  }
}