.gz-hero__image img {
  width: 100%;
  height: auto;
}
.gz-hero__container, .gz-hero__content {
  height: 100%;
}
.gz-hero__content {
  padding-bottom: 9rem !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (max-width: 319px) {
  .gz-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding: 0 !important;
    padding-top: 2rem !important;
  }
  .gz-hero__image img {
    width: 100%;
    height: auto;
  }
  .gz-hero__container, .gz-hero__content {
    height: 100%;
  }
  .gz-hero__content {
    padding-bottom: 9rem !important;
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    z-index: unset;
  }
}
@media (min-width: 980px) {
  .gz-hero__content {
    padding-bottom: initial !important;
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
    z-index: unset;
  }
}