.gz-instagram.__container {
  overflow: hidden;
}

.sb_instagram_header {
  display: none;
}

.sbi #sb_instagram {
  height: 290px;
}
.sbi #sbi_images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.sbi #sbi_images .sbi_item {
  min-width: calc(75% - 1rem);
}

.overflow-scroll {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.overflow-scroll::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

@media (min-width: 980px) {
  .--instagram-p:after {
    content: "";
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 150%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 150%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 150%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 20%;
  }

  .sbi #sbi_images .sbi_item {
    min-width: calc(25% - 1rem);
  }
}