.gz-sayAboutMe__reviews .slick-arrow {
  display: none !important;
}
.gz-sayAboutMe__reviews .slick-dots li {
  margin: 0 2px;
  width: 13px;
  height: 13px;
}
.gz-sayAboutMe__reviews .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
}
.gz-sayAboutMe__reviews .slick-dots li.slick-active button:before {
  background-color: var(--gz-teal-dark) !important;
}
.gz-sayAboutMe__reviews .slick-dots li button:before {
  opacity: 1 !important;
  border: 2px solid var(--gz-orange-light);
  width: 0.75rem;
  height: 0.75rem;
  color: transparent !important;
  border-radius: 50%;
}
.gz-sayAboutMe__content .--sayAboutMe-p {
  font-size: 1.6rem;
  line-height: 1;
}
.gz-sayAboutMe__content .--sayAboutMe-name {
  font-size: 0.9rem;
  line-height: 1;
}