.gz-service__element-image {
  width: 100%;
}
.gz-service__element-list {
  list-style: none;
  width: 100%;
}
.gz-service__element-label {
  font-size: 0.9rem;
  line-height: 1;
  z-index: 0;
}
.gz-service__element-label:before {
  content: attr(data-index);
  font-family: var(--gz-font-open-sans-condensed);
  color: var(--gz-white);
  font-size: 4.4rem;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  top: -2.4rem;
  left: -1rem;
  z-index: -1;
  line-height: 1;
}

@media (min-width: 980px) {
  .gz-service__element-label {
    font-size: 1.3rem;
  }
  .gz-service__element-label:before {
    font-size: 5.8rem;
    top: -2.9rem;
    left: -1.5rem;
  }
}
@media (min-width: 1690px) {
  .gz-service__element-label {
    font-size: 1.4rem;
  }
  .gz-service__element-label:before {
    font-size: 8.8rem;
    top: -4.4rem;
    left: -3.3rem;
  }
}